<% if current_user.try(:admin?)%>
<% @admins.each do |a| %>
        <h2><%= a.email %><h2>
          <br>
    <% end %>
<% else %>
    <h1>You do not have access to this page.</h1>
    <p>You may need to <a href="/users/sign_in">log in</a></p>
<% end %>