<% if current_user.try(:admin?) && current_user.try(:email) == "bpadron2000@gmail.com"%>
<%= form_for(@video, :url => {:action => 'create'}) do |v| %>
    <%= v.label :url %>
    <%= v.text_field :url %>
<% end %>
<% else %>
    <h1>You do not have access to this page.</h1>
    <p>You may need to <a href="/users/sign_in">log in</a> or <a href="/users/sign_up">sign up</a>.</p>

<% end %>