<h1>Video</h1>

<% @videos.each do |v| %>
    <center><embed src="<%= v.url %>" height="385px" width="640px"></embed></center>
    <% if current_user.try(:admin?)%>
        <%= link_to("Update Video", {:action => 'edit', :id => v.id}, :class => "action edit")%>
    <% end %>
<% end %>