<!DOCTYPE html>
<html>
<head>
  <title>Yunohavegames</title>
  <%= stylesheet_link_tag    'application' %>

  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<a href="/">Home</a>
<a href="/games/index">Games</a>
<a href="/blog/index">Blog</a>
<a href="/potw/index">Photo of the Week</a>
<a href="/video/index">Videos</a>
<br>
<%= yield %>

</body>
</html>
